<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.augus.unbdates">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/unbdates"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".LoginPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SwipeCards" />
        <activity
            android:name=".SignUpPage"
            android:parentActivityName=".LoginPage"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginPage"/>
        </activity>
        <activity android:name=".HomePage" />
        <activity android:name=".EditInfo" />
        <activity android:name=".MatchPage"
            android:parentActivityName=".HomePage"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePage"/>
        </activity>
        <activity android:name=".ChatPage"
        android:parentActivityName=".HomePage"
        tools:targetApi="jelly_bean">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".HomePage"/>
        </activity>
        <activity
            android:name=".ChooseProfilePic"
            android:parentActivityName=".SignUpPage"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SignUpPage"/>
        </activity>
        <activity
            android:name=".Matches.MatchesActivity"
            android:parentActivityName=".HomePage"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePage"/>
        </activity>
    </application>

</manifest>